<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body class="page page--1">
  //= include/header.html
  <div class="title-section">
    <div class="title-section__content">
      <a href="index.html" class="title-section__content-logo"><img src="img/logo-demo.svg" alt=""></a>
      <div class="title-section__content-title">Kairos finance</div>
      <!--      <div class="title-section__content-category">About us</div>-->
    </div>
  </div>
  <div class="team">
    <div class="team__title">
      At PSI we work with pride and passion to help our investors around the world to build a better financial future</div>
    <div class='toggle'>
      <div class='tabs'>
        <div class='tab active'>Managment</div>
        <div class='tab'>Consulting partners</div>
      </div>
      <div class='panels'>
        <div class='panel'>
          <div class="team__list">
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">SuperIrina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>

            </div>
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur harum cumque amet quibusdam corporis reiciendis soluta odit sequi nam consequatur eveniet maiores, alias, doloremque debitis. Sapiente doloribus error necessitatibus libero!</div>
              </div>

            </div>
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden">
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptatem repudiandae enim earum maxime nulla aut placeat quibusdam reprehenderit, rerum dignissimos, consequuntur blanditiis, culpa! Praesentium aliquam saepe, eaque velit ipsa.</div>
                  <div>Quaerat voluptas autem quod a aliquam repudiandae, nam saepe? Voluptatibus maiores, repellendus at quasi atque itaque vitae nostrum cum minus sit expedita eos nisi, dicta natus, corrupti dignissimos eius voluptatem.</div>
                </div>

              </div>
            </div>
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden">Lorem ipsum dolor sit amet.</div>
              </div>
            </div>
          </div>
        </div>
        <div class='panel'>
          <div class="team__partners">
            <div class="team__partners-item"><img src="img/bitkogan-logo.svg" alt="">
              <div class="team__partners-item-descr">
                <b class="team__partners-item-descr-title">Bitkogan</b>
                <p class="team__partners-item-descr-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eligendi adipisci ratione sequi, commodi est porro, sint et, aspernatur, debitis eius! Eligendi, sapiente tempore asperiores aspernatur sequi consectetur commodi in!</p>
                <p class="team__partners-item-descr-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eligendi adipisci ratione sequi, commodi est porro, sint et, aspernatur, debitis eius! Eligendi, sapiente tempore asperiores aspernatur sequi consectetur commodi in! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellat neque rem, nobis veritatis, qui consequuntur itaque ea tempore necessitatibus sunt, eos totam reiciendis cum. Architecto nihil, eos maxime quam!</p>
              </div>
            </div>
            <div class="team__partners-item"><img src="img/mp-logo.svg" alt="">
              <div class="team__partners-item-descr">
                <b class="team__partners-item-descr-title">Moscow partners</b>
                <p class="team__partners-item-descr-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eligendi adipisci ratione sequi, commodi est porro, sint et, aspernatur, debitis eius! Eligendi, sapiente tempore asperiores aspernatur sequi consectetur commodi in!</p>
                <p class="team__partners-item-descr-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eligendi adipisci ratione sequi, commodi est porro, sint et, aspernatur, debitis eius! Eligendi, sapiente tempore asperiores aspernatur sequi consectetur commodi in! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, illo dignissimos quas natus inventore veniam, ullam maiores minus amet placeat reprehenderit itaque! Laboriosam aspernatur impedit velit magnam amet aliquid suscipit vero porro nihil distinctio dolorem in odit molestiae autem, facilis, corrupti fugiat harum itaque accusantium? Minima ea non veniam perferendis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  //= include/footer.html
  <!-- body -->
  <div class="overlay"></div>
  <div class="popup-disclaimer">
    <div class="popup-disclaimer__close"></div>
    <div class="popup-disclaimer__title">Disclaimer</div>
    <div class="popup-disclaimer__content"><b>PLEASE READ CAREFULLY THE FOLLOWING TERMS AND CONDITIONS.</b> <b>BY ACCESSING THIS SITE AND THE INFORMATION CONTAINED HEREIN, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS BELOW. IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, DO NOT ACCESS THIS SITE OR ANY OF THE INFORMATION CONTAINED HEREIN.</b> <b>No Offer or Solicitation</b>
      <p>Neither this site nor anything contained herein shall constitute an invitation or recommendation to invest or otherwise deal in, or an offer to sell or the solicitation of an offer to buy or subscribe for, any security. There shall be no sale of any securities in any jurisdiction in which such an offer, solicitation or sale would be unlawful prior to qualification under the securities laws of such state or jurisdiction. Professional advice should be sought prior to any decision to invest in covered bonds.</p> <b>Legal Considerations</b>
      <p>The distribution material on this site may be restricted by local law of potential investors and failure to comply with such restrictions may constitute a violation of the laws of any such other jurisdiction. Persons accessing this site should inform themselves about restrictions applicable to them, and observe any such restrictions. In particular, no information contained in this site is for distribution directly or indirectly in USA, UK, EU, Australia, Canada, South Africa or Japan.</p>
      <p>Potential investors shall carefully study any restrictions applicable to them (taking into account, among other things, that Convertible Notes are not listed at any stock exchange).</p> <b>Restricted residence of recipients</b>
      <p>By accepting these terms and conditions you confirm that you are not incorporated, domiciled or resident in any of USA, UK, EU, Australia, Canada, South Africa, Japan.</p> <b>No Liability</b>
      <p>The material on this site has no regard to the specific investment objectives, financial situation or particular needs of any recipient. The information is historical in nature and should not be relied on when making any investment decision. No representation or warranty, express or implied, is or will be made in relation to, the accuracy or completeness of the information on this site. No liability whatsoever is or will be accepted by Professional Structured Investments (PSI) Fund for any loss or damage howsoever arising from any use of this site or its contents.</p>

    </div>
    <div class="popup-disclaimer__bunch"><a href="reports.html" class="popup-disclaimer__bunch-link">Agree</a> <button class="popup-disclaimer__bunch-button">Disagree</button></div>
  </div>
  <div class="popup-team">
    <div class="popup-team__close"></div>
    <img src="img/team.jpg" alt="" class="popup-team__img">
    <div class="popup-team__name">Irina Loutchina </div>
    <div class="popup-team__descr">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati architecto, vitae laborum eum iure ipsa dignissimos dicta, minima molestiae placeat, quasi maxime rem deleniti suscipit dolores odit atque culpa aperiam!</div>
      <div>Quo dolorem quidem mollitia recusandae ex, delectus incidunt vero vitae id quibusdam praesentium laudantium ea placeat deserunt eius aperiam, voluptas necessitatibus voluptatum quas vel nesciunt fuga. Delectus corporis aliquam sapiente!</div>
    </div>
  </div>
  //= include/nav-screen.html
  <div class="language"><a href="" class="language__link">EN</a><a href="" class="language__link">RU</a></div>
  <script>
    'use strict';
    var disclaimerLink = document.querySelectorAll('.disclaimer');
    var disclaimerPopup = document.querySelector('.popup-disclaimer');
    var overlay = document.querySelector('.overlay');
    for (var i = 0; i < disclaimerLink.length; i++) {
      disclaimerLink[i].addEventListener('click', function(e) {
        e.preventDefault();
        overlay.classList.add('overlay--max');
        disclaimerPopup.classList.add('popup-disclaimer--open');
      })
    }
    disclaimerPopup.addEventListener('click', function(e) {
      if (e.target.classList.contains('popup-disclaimer__bunch-button') || e.target.classList.contains('popup-disclaimer__close')) {
        overlay.classList.remove('overlay--max');
        disclaimerPopup.classList.remove('popup-disclaimer--open');
      }
    })
    document.addEventListener('keydown', function(e) {
      if (e.keyCode === 27 && disclaimerPopup.classList.contains('popup-disclaimer--open')) {
        disclaimerPopup.classList.remove('popup-disclaimer--open');
        overlay.classList.remove('overlay--max');
      }
    })
  </script>
  <script>
    var overlay = document.querySelector('.overlay');
    var teamList = document.querySelector('.team__list');
    var teamPopup = document.querySelector('.popup-team');
    var teamPopupImg = teamPopup.querySelector('.popup-team__img');
    var teamPopupName = teamPopup.querySelector('.popup-team__name');
    var teamPopupDescr = teamPopup.querySelector('.popup-team__descr');
    teamList.addEventListener('click', function(e) {
      if (e.target.classList.contains('team__list-item-descr-more')) {
        overlay.classList.add('overlay--open');
        teamPopup.classList.add('popup-team--open');
        teamPopupName.textContent = e.target.parentNode.querySelector('.team__list-item-descr-name').textContent;
        teamPopupDescr.textContent = e.target.parentNode.querySelector('.team__list-item-descr-hidden').textContent;
      }
    })
    document.addEventListener('click', function(e) {
      if ((e.target.classList.contains('overlay--open') || e.target.classList.contains('popup-team__close')) && teamPopup.classList.contains('popup-team--open')) {
        teamPopup.classList.remove('popup-team--open');
        overlay.classList.remove('overlay--open');
      }
    })
    document.addEventListener('keydown', function(e) {
      if (e.keyCode === 27 && teamPopup.classList.contains('popup-team--open')) {
        teamPopup.classList.remove('popup-team--open');
        overlay.classList.remove('overlay--open');
      }
    })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    (function() {
      $(function() {
        var toggle;
        return toggle = new Toggle('.toggle');
      });

      this.Toggle = (function() {
        Toggle.prototype.el = null;

        Toggle.prototype.tabs = null;

        Toggle.prototype.panels = null;

        function Toggle(toggleClass) {
          this.el = $(toggleClass);
          this.tabs = this.el.find(".tab");
          this.panels = this.el.find(".panel");
          this.bind();
        }

        Toggle.prototype.show = function(index) {
          var activePanel, activeTab;
          this.tabs.removeClass('active');
          activeTab = this.tabs.get(index);
          $(activeTab).addClass('active');
          this.panels.hide();
          activePanel = this.panels.get(index);
          return $(activePanel).show();
        };

        Toggle.prototype.bind = function() {
          var _this = this;
          return this.tabs.unbind('click').bind('click', function(e) {
            return _this.show($(e.currentTarget).index());
          });
        };

        return Toggle;

      })();

    }).call(this);
  </script>
  <script>
    'use strict';
    var navButton = document.querySelector('.page-header__button');
    var logo = document.querySelector('.page-header__logo-img');
    var nav = document.querySelector('.nav-screen');
    var overlay = document.querySelector('.overlay');
    var language = document.querySelector('.language');
    navButton.addEventListener('click', function(e) {
      console.log(e.target.classList);
      if ((e.target.classList.contains('page-header__button--opened') && e.target.classList.length === 2) || (e.target.parentNode.classList.contains('page-header__button--opened')) && e.target.parentNode.classList.length === 2) {
        navButton.classList.remove('page-header__button--opened');
        overlay.classList.remove('overlay--open');
        nav.classList.remove('nav-screen--open');
        language.classList.remove('language--open');
        logo.src = ('img/logo.svg');
      } else {
        if ((e.target.classList.contains('page-header__button') && e.target.classList.length === 1) || (e.target.parentNode.classList.contains('page-header__button')) && e.target.parentNode.classList.length === 1) {
          navButton.classList.add('page-header__button--opened');
          overlay.classList.add('overlay--open');
          nav.classList.add('nav-screen--open');
          language.classList.add('language--open');
          logo.src = ('img/logo-open.svg');
        }
      }
    })
    document.addEventListener('keydown', function(e) {
      if (e.keyCode === 27 && navButton.classList.contains('page-header__button--opened')) {
        navButton.classList.remove('page-header__button--opened');
        overlay.classList.remove('overlay--open');
        nav.classList.remove('nav-screen--open');
        language.classList.remove('language--open');
        logo.src = ('img/logo.svg');
      }
    })
  </script>
</body>

</html>