<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body class="page page--1">
  //= include/header.html
  <div class="title-section">
    <div class="title-section__content">
      <a href="index.html" class="title-section__content-logo"><img src="img/logo-demo.svg" alt=""></a>
      <div class="title-section__content-title">Kairos finance</div>
      <!--      <div class="title-section__content-category">About us</div>-->
    </div>
  </div>
  <div class="team">
    <div class="team__title">
      At PSI we work with pride and passion to help our investors around the world to build a better financial future</div>
    <div class='toggle'>
      <div class='tabs'>
        <div class='tab active'>Managment</div>
        <div class='tab'>Consulting partners</div>
      </div>
      <div class='panels'>
        <div class='panel'>
          <div class="team__list">
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">SuperIrina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>

            </div>
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur harum cumque amet quibusdam corporis reiciendis soluta odit sequi nam consequatur eveniet maiores, alias, doloremque debitis. Sapiente doloribus error necessitatibus libero!</div>
              </div>

            </div>
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden">
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptatem repudiandae enim earum maxime nulla aut placeat quibusdam reprehenderit, rerum dignissimos, consequuntur blanditiis, culpa! Praesentium aliquam saepe, eaque velit ipsa.</div>
                  <div>Quaerat voluptas autem quod a aliquam repudiandae, nam saepe? Voluptatibus maiores, repellendus at quasi atque itaque vitae nostrum cum minus sit expedita eos nisi, dicta natus, corrupti dignissimos eius voluptatem.</div>
                </div>

              </div>
            </div>
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden">Lorem ipsum dolor sit amet.</div>
              </div>
            </div>
          </div>
        </div>
        <div class='panel'>
          <div class="team__list">
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden"></div>
              </div>
            </div>
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden"></div>
              </div>
            </div>
            <div class="team__list-item">
              <div class="team__list-item-img"><img src="img/team.jpg" alt=""></div>
              <div class="team__list-item-descr">
                <div class="team__list-item-descr-name">Irina Loutchina Skittides
                </div>
                <div class="team__list-item-descr-profession">Director, PSI Fund. Advocate</div>
                <div class="team__list-item-descr-more">Read more</div>
                <div class="team__list-item-descr-hidden"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  //= include/footer.html
  <!-- body -->
  <div class="overlay"></div>
  <div class="popup-team">
    <div class="popup-team__close"></div>
    <img src="img/team.jpg" alt="" class="popup-team__img">
    <div class="popup-team__name">Irina Loutchina </div>
    <div class="popup-team__descr">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati architecto, vitae laborum eum iure ipsa dignissimos dicta, minima molestiae placeat, quasi maxime rem deleniti suscipit dolores odit atque culpa aperiam!</div>
      <div>Quo dolorem quidem mollitia recusandae ex, delectus incidunt vero vitae id quibusdam praesentium laudantium ea placeat deserunt eius aperiam, voluptas necessitatibus voluptatum quas vel nesciunt fuga. Delectus corporis aliquam sapiente!</div>
    </div>
  </div>
  <nav class="nav-screen">
    <ul class="nav-screen__list">
      <li class="nav-screen__list-item"><a href="about-us.html">About us</a></li>
      <li class="nav-screen__list-item"><a href="">Team</a></li>
      <li class="nav-screen__list-item"><a href="">Key repotrs</a></li>
      <li class="nav-screen__list-item"><a href="contact.html">Contacts</a></li>
    </ul>
  </nav>
  <div class="language"><a href="" class="language__link">EN</a><a href="" class="language__link">RU</a></div>
  <script>
    var overlay = document.querySelector('.overlay');
    var teamList = document.querySelector('.team__list');
    var teamPopup = document.querySelector('.popup-team');
    var teamPopupImg = teamPopup.querySelector('.popup-team__img');
    var teamPopupName = teamPopup.querySelector('.popup-team__name');
    var teamPopupDescr = teamPopup.querySelector('.popup-team__descr');
    teamList.addEventListener('click', function(e) {
      if (e.target.classList.contains('team__list-item-descr-more')) {
        overlay.classList.add('overlay--open');
        teamPopup.classList.add('popup-team--open');
        teamPopupName.textContent = e.target.parentNode.querySelector('.team__list-item-descr-name').textContent;
        teamPopupDescr.textContent = e.target.parentNode.querySelector('.team__list-item-descr-hidden').textContent;
      }
    })
    document.addEventListener('click', function(e) {
      if ((e.target.classList.contains('overlay--open') || e.target.classList.contains('popup-team__close')) && teamPopup.classList.contains('popup-team--open')) {
        teamPopup.classList.remove('popup-team--open');
        overlay.classList.remove('overlay--open');
      }
    })
    document.addEventListener('keydown', function(e) {
      if (e.keyCode === 27 && teamPopup.classList.contains('popup-team--open')) {
        teamPopup.classList.remove('popup-team--open');
        overlay.classList.remove('overlay--open');
      }
    })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    (function() {
      $(function() {
        var toggle;
        return toggle = new Toggle('.toggle');
      });

      this.Toggle = (function() {
        Toggle.prototype.el = null;

        Toggle.prototype.tabs = null;

        Toggle.prototype.panels = null;

        function Toggle(toggleClass) {
          this.el = $(toggleClass);
          this.tabs = this.el.find(".tab");
          this.panels = this.el.find(".panel");
          this.bind();
        }

        Toggle.prototype.show = function(index) {
          var activePanel, activeTab;
          this.tabs.removeClass('active');
          activeTab = this.tabs.get(index);
          $(activeTab).addClass('active');
          this.panels.hide();
          activePanel = this.panels.get(index);
          return $(activePanel).show();
        };

        Toggle.prototype.bind = function() {
          var _this = this;
          return this.tabs.unbind('click').bind('click', function(e) {
            return _this.show($(e.currentTarget).index());
          });
        };

        return Toggle;

      })();

    }).call(this);
  </script>
  <script>
    'use strict';
    var navButton = document.querySelector('.page-header__button');
    var logo = document.querySelector('.page-header__logo-img');
    var nav = document.querySelector('.nav-screen');
    var overlay = document.querySelector('.overlay');
    var language = document.querySelector('.language');
    navButton.addEventListener('click', function(e) {
      console.log(e.target.classList);
      if ((e.target.classList.contains('page-header__button--opened') && e.target.classList.length === 2) || (e.target.parentNode.classList.contains('page-header__button--opened')) && e.target.parentNode.classList.length === 2) {
        navButton.classList.remove('page-header__button--opened');
        overlay.classList.remove('overlay--open');
        nav.classList.remove('nav-screen--open');
        language.classList.remove('language--open');
        logo.src = ('img/logo.svg');
      } else {
        if ((e.target.classList.contains('page-header__button') && e.target.classList.length === 1) || (e.target.parentNode.classList.contains('page-header__button')) && e.target.parentNode.classList.length === 1) {
          navButton.classList.add('page-header__button--opened');
          overlay.classList.add('overlay--open');
          nav.classList.add('nav-screen--open');
          language.classList.add('language--open');
          logo.src = ('img/logo-open.svg');
        }
      }
    })
    document.addEventListener('keydown', function(e) {
      if (e.keyCode === 27 && navButton.classList.contains('page-header__button--opened')) {
        navButton.classList.remove('page-header__button--opened');
        overlay.classList.remove('overlay--open');
        nav.classList.remove('nav-screen--open');
        language.classList.remove('language--open');
        logo.src = ('img/logo.svg');
      }
    })
  </script>
</body>

</html>