<div class="page-header__wrapper">
  <header class="page-header">
    <a class="page-header__logo" href="index.html"><img src="img/logo.svg" alt="" class="page-header__logo-img"></a>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__list-item"><a href="">About us</a></li>
        <li class="main-nav__list-item"><a href="">Team</a></li>
        <li class="main-nav__list-item"><a href="">Key repotrs</a></li>
        <li class="main-nav__list-item"><a href="">Contacts</a></li>
      </ul>
    </nav>
  </header>
</div>