<div class="page-header__wrapper">
  <header class="page-header">
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__list-item"><a href="about-us.html">About us</a></li>
        <li class="main-nav__list-item"><a href="team.html">Team</a></li>
        <li class="main-nav__list-item"><a href="reports.html" class="disclaimer">Key repotrs</a></li>
        <li class="main-nav__list-item"><a href="contacts.html">Contacts</a></li>
      </ul>
    </nav>
    <div class="page-header__button"><span class="page-header__button-inner"></div>
  </header>
</div>