.main-nav {
  flex-grow: 2;
  display: flex;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    &-item {
      text-align: center;
      flex-grow: 2;
      display: flex;
      margin-top: 12px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #091234;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        overflow-y: hidden;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2px;
        padding-bottom: 2px;
        height: 100%;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 31px;
          background-color: #091234;
          height: 4px;
          width: 100%;
          transition: 0.4s all;
        }
        &:hover::after {
          transform: translateY(-3px);
        }
      }
    }
  }
}