.page-header {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  min-width: 1200px;
  overflow-y: hidden;
  &__logo {
    &-img {
      position: relative;
      z-index: 400;
      width: 150px;
    }
  }
  &__button {
    position: relative;
    display: flex;
    z-index: 300;
    cursor: pointer;
    &-inner {
      position: relative;
      display: block;
      width: 22px;
      height: 3px;
      background-color: #fff;
      margin-top: auto;
      margin-bottom: auto;
      transition: 0.4s all;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 22px;
        height: 3px;
        left: 0;
        transition: 0.4s all;
      }
      &::before {
        top: -6px;
      }
      &::after {
        bottom: -6px;
      }
    }
    &--opened {
      .page-header__button-inner {
        background-color: transparent;
        &::before,
        &::after {
          background-color: #fff;
        }
        &::after {
          transform: translate(0px, -6px) rotate(45deg);
        }
        &::before {
          transform: translate(0px, 6px) rotate(-45deg);
        }
      }
    }
  }
}