.screen {
  &__wrapper {}
  width: 100%;
  height: calc(100vh - 85px);
  position: relative;
  overflow: hidden;
  background-image: url(../img/screen.jpg);
  background-size: cover;
  overflow: hidden;
  &__content {
    @extend %center;
    text-align: center;
    z-index: 10;
    color: #121212;
    &-title {
      font-size: 88px;
      font-weight: bold;
      &:first-letter {
        color: $green;
      }
    }
    &-descr {
      font-size: 24px;
      font-weight: bold;
    }
  }
  &__arrow {
    position: absolute;
    align-content: space-between;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid $green;
    border-right: 4px solid #000;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s all;
    &:hover {
      border-bottom-color: #000;
      border-right-color: $green;

    }
  }
  &--1 {
    background-image: url(../img/screen.jpeg);
    filter: grayscale(80%);
    .screen__widget {
      position: absolute;
      width: 40%;
      height: 50%;
      left: 40px;
      top: 40px;
    }
  }
  &--2 {
    background-image: url(../img/screen-2.jpg);
    .screen__content {
      text-align: left;
      transform: translate(0, 0);
      left: 40px;
      top: 120px;
      max-width: 600px;
      &-title {
        margin-bottom: 20px;
        letter-spacing: 2px;
      }
      &-descr {
        font-weight: 400;
        line-height: 34px;
        margin-bottom: 20px;
      }
      &-more {
        position: relative;
        text-decoration: none;
        font-size: 20px;
        color: #000;
        position: relative;
        &:hover {
          &::after,
          &::before {
            right: -35px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          right: -30px;
          top: 50%;
          margin-top: -1px;
          width: 20px;
          height: 2px;
          background-color: $green;
          transition: 0.4s all;
        }
        &::before {
          z-index: 20;
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          border-bottom: 2px solid $green;
          border-right: 2px solid $green;
          right: -30px;
          top: 50%;
          transform: translatey(-50%) rotate(-45deg);
          transition: 0.4s all;
        }
      }
    }
  }
  &--3 {
    height: calc(100vh - 150px);
    background-image: url(../img/screen-2.jpg);
    .screen__content {
      text-align: left;
      transform: translate(0, 0);
      left: 40px;
      top: 120px;
      max-width: 600px;
      &-title {
        margin-bottom: 20px;
        letter-spacing: 2px;
      }
      &-descr {
        font-weight: 400;
        line-height: 34px;
        margin-bottom: 20px;
      }
      &-more {
        position: relative;
        text-decoration: none;
        font-size: 20px;
        color: #000;
        position: relative;
        &:hover {
          &::after,
          &::before {
            right: -35px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          right: -30px;
          top: 50%;
          margin-top: -1px;
          width: 20px;
          height: 2px;
          background-color: $green;
          transition: 0.4s all;
        }
        &::before {
          z-index: 20;
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          border-bottom: 2px solid $green;
          border-right: 2px solid $green;
          right: -30px;
          top: 50%;
          transform: translatey(-50%) rotate(-45deg);
          transition: 0.4s all;
        }
      }
    }
  }
  &--4 {
    background-image: url(../img/screen-3.jpg);
    .screen__content {
      text-align: left;
      transform: translate(0, 0);
      left: 40px;
      top: 120px;
      max-width: 600px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px;
      &-title {
        margin-bottom: 20px;
        letter-spacing: 2px;
      }
      &-descr {
        font-weight: 400;
        line-height: 34px;
        margin-bottom: 20px;
      }
      &-more {
        position: relative;
        text-decoration: none;
        font-size: 20px;
        color: #000;
        position: relative;
        &:hover {
          &::after,
          &::before {
            right: -35px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          right: -30px;
          top: 50%;
          margin-top: -1px;
          width: 20px;
          height: 2px;
          background-color: $green;
          transition: 0.4s all;
        }
        &::before {
          z-index: 20;
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          border-bottom: 2px solid $green;
          border-right: 2px solid $green;
          right: -30px;
          top: 50%;
          transform: translatey(-50%) rotate(-45deg);
          transition: 0.4s all;
        }
      }
    }
  } //  animation: hue linear 5s infinite;
}

//@keyframes hue {
//  0%,
//  100% {
//    filter: hue-rotate(0)
//  }
//
//  50% {
//    filter: hue-rotate(60deg)
//  }
//}